<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <!--<add name="ApplicationServices"
         connectionString="Data Source=(local);Initial Catalog=TresPuntoCinco;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
    <add name="ApplicationServices"
         connectionString="Server=9564cdbc-cab2-4f03-bb86-a3240041e275.sqlserver.sequelizer.com;Database=db9564cdbccab24f03bb86a3240041e275;User ID=mzfnqczhqpwthjzk;Password=8uGXCpLMA7Xhaqa7xrTj8aVmLw8afBqY2gJJJmyptHePrVrxL5v8KUx8FukgqKF8;"
         providerName="System.Data.SqlClient" />

  </connectionStrings>

  <system.web>

    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>


    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
